.pdfButton {
        padding: 0.5rem 1rem;
    background-color: #715950;
    color: #f3f2f2;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    max-width: 200px;
}

.pdfButton:hover {
    background-color: #4d3b35;
}