
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #D9F2FF;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #333333;
}

.imagenContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.imagen {
  width: 500px;
  height: 400px;
}

@media (max-width: 1000px) {
  .imagen {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .imagen {
    width: 200px;
    height: auto;
  }
}

.sobreNosotrosArribaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
   font-family: 'Roboto Mono', monospace;
  line-height: 30px;
}

.sobreNosotrosAbajoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  font-family: 'Roboto Mono', monospace;
}

.textoContainerArriba {
  display: flex;
  width: 500px;
  text-align: justify;
  height:fit-content;
  justify-content: center;
}


.textoContainerAbajo {
  display: flex;
  width: 1200px;
  text-align: justify;
  height: auto;
  justify-content: center;
  block-size: auto;
  margin-bottom: 15px;
}

span {
    color: var(--color-textos);
}